body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.grid-container {
  display: grid;
}

.flex-container {
  display: flex;
}

.content {
  min-height: 100vh;

  grid-template-areas:
    "nav"
    "bar"
    "items"
    "footer";
}

.navbar {
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(226, 31, 31);
  grid-area: nav;
}

.nav-logo {
  align-items: center;
}

.nav-links {
  display: none;
  justify-content: space-between;
  column-gap: 2vw;
  align-items: center;
}

.filter-bar {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(235, 197, 197);
  grid-area: bar;
}

main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: items;
}

.main-footer {
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  grid-area: footer;
}

.card {
  padding: 5px;
  flex-direction: column;
  row-gap: 10px;
}

.card > button {
  background-color: rgb(40, 224, 15);
}

@media screen and (min-width: 576px) {
  .content {
    grid-template-areas:
      "nav bar"
      "nav items"
      "footer items";
  }

  main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .burger-menu {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
  }

  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 30px;
  }
}
